
#root{
    height: 100vh;
    position: relative;
}
#background{
    height: 100%;
}

#bg_page_green{
    background-color: rgb(1, 145, 125);
    height: 20%;
    width: 100%;
}

#bg_page_grey{
    background-color: lightgrey;
    height: 80%;
    width: 100%;
}

.bg_l_gray{
    background-color: rgb(238, 231, 231);
}

#chat_container{
    width: 85%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
}
.row{
    width: 100%;
    margin: 0;
}
.row div{
    padding: 0;
}
#searchbar{
    height: 40px;
}

.height_70{
    height: 70px;
}

i{
    transform: scale(1.2);
    color: rgb(190, 190, 190);
    cursor: pointer;
}
#user_icons i{
    margin-right: 20px;
    cursor: pointer;
}
#chat_list{
    height:calc(100% - 180px);
    overflow-y: scroll;
}
#chat_list .row{
    cursor: pointer;
}

#chat_text{
    height: calc(100% - 140px); 
    background-image: url(../vue-boolzapp/img/mine.jpg);  
    overflow-y: scroll;
}

#campanella{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
}
#campanella i{
    color: rgb(129, 209, 255);
    transform: scale(1.2);
}
#notifications p{
    margin-left: 30px;
    margin-bottom: 0;
}
#notifications a{
    color: grey;
    text-decoration: underline;
}
#notifications{
    background-color: rgb(129, 209, 255);
}

#notifications div{
    background-color: rgb(129, 209, 255);

}

.row img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.row h3{
    display: inline-block;
    font-size: 1.3em;
}

#container_left_right{
    height: 100%;
}
#left_container{
    height: 100%;
}

#right_container{
    height: 100%;

}

#search_icon{
    border:1px solid lightgrey;
}
#search_icon button{
    width: 100%;
    background-color: white;
    border: 1px solid white;
}
#searchbar input{
    width: 95%;
    border: 1px solid lightgrey;
}

/* #chat_list .row{
    border-top:1px solid lightgrey;
} */

#text_area input{
    width: 100%;
    height: 75%;
    border: 1px solid white;
    border-radius: 5px;
}
#right_icons i{
    margin-right: 20px;

}
.message{
    height: 45px;
    /* display: inline-block; */
    border-radius: 5px;
    width: 350px;
}
.received{
    background-color: white;
    justify-content: left;
}
.sent{
    background-color: #72e962;
    justify-content:right;
   
}